{% load i18n %}
{% load staticfiles %}
{% load shop_tags %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% if config.google_webmastertools %}
	<meta name="google-site-verification" content="{{config.google_webmastertools}}" />
	{% endif %}

	<link rel="stylesheet" type="text/css" href="{% static 'lindshop/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'lindshop/css/font-awesome.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'lindshop_frontend/css/lindshop-frontend.css' %}" />

	<title>{% block title %}{{config.shop_name}}{% endblock %}</title>
	{% block header %}{% endblock %}
</head>

<body>

	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-sm-3">
				<span class="h3">{{config.shop_name}}</span>
			</div>
			<div class="col-sm-6 hidden-xs">
				<div class="form-group">
					<div class="input-group">
						<input type="text" name="search" placeholder="Search" class="form-control">
						<span class="input-group-btn">
							<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
						</span>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-3">
				{% include "lindshop_frontend/cart/cart-dropdown.html" %}
			</div>
		</div>
	</div>

	<div class="container">

		<div id="content">
			{% block content %}{% endblock %}
		</div>

		<footer>
			<div class="container">
				{% block footer %}{% endblock %}
				<p class="text-center">&copy; {{config.shop_name}}</p>
			</div>
		</footer>

	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'lindshop/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'lindshop/js/lindshop.js' %}"></script>
	<script type="text/javascript" src="{% static 'lindshop_frontend/js/lindshop_frontend.js' %}"></script>

</body>
</html>