{% extends "mail/base-mail.html" %}
{% load product_tags %}
{% load i18n %}
{% block content %}
	<h1 style="font-size: 24px;font-weight:bold;">{% trans "Your Subscription Has Been Canceled" %}</h1>
	<p>{% trans "This is a confirmation that all your subscriptions have been canceled. You will still get any subscriptions that you might already have paid for. But no further charges will be charged." %}</p>
{% endblock %}

{% block footer %}
<p style="text-align: center;"><i>{% trans "We hope your dog is as sad to see you leave as we are." %}</i></p>
{% endblock %}