{% load i18n %}
<h2>{% trans "Personal Information" %}</h2>
<div class="alert alert-danger personal-error" style="display:none;"></div>
<div class="form-group">
	<input type="email" name="email" class="form-control input-lg" placeholder="{% trans "Email" %}" value="{% if cart.user.email %}{{cart.user.email}}{% endif %}">
</div>
<div class="form-group">
	<div class="row">
		<div class="col-xs-6">
			<input type="text" name="first_name" class="form-control input-lg" placeholder="{% trans "First name" %}" value="{% if cart.user.first_name %}{{cart.user.first_name}}{% endif %}">
		</div>
		<div class="col-xs-6">
			<input type="text" name="last_name" class="form-control input-lg" placeholder="{% trans "Last name" %}" value="{% if cart.user.last_name %}{{cart.user.last_name}}{% endif %}">
		</div>
	</div>
</div>
<div class="form-group">
	<div class="row">
		<div class="col-xs-6">
			<input type="text" name="address" class="form-control input-lg" placeholder="{% trans "Street Address" %}" value="{% if cart.user.user_address.all.0.address %}{{cart.user.user_address.all.0.address}}{% endif %}">
		</div>
		<div class="col-xs-6">
			<input type="text" name="zipcode" class="form-control input-lg" placeholder="{% trans "Zipcode" %}" value="{% if cart.user.user_address.all.0.zipcode %}{{cart.user.user_address.all.0.zipcode}}{% endif %}">
		</div>
	</div>
</div>
<div class="form-group">
	<div class="row">
		<div class="col-xs-6">
			<input type="text" name="city" class="form-control input-lg" placeholder="{% trans "City" %}" value="{% if cart.user.user_address.all.0.city %}{{cart.user.user_address.all.0.city}}{% endif %}">
		</div>
		<div class="col-xs-6">
			<input type="text" name="phone" class="form-control input-lg" placeholder="{% trans "Phone" %}" value="{% if cart.user.phone %}{{cart.user.phone}}{% endif %}">
		</div>
	</div>
</div>